<!-- THIS SHOW IS FOR AN INDIVIDUAL QUESTION -->
<!-- This page will check guess_id to see if it is already successful. -->
<!-- if already answered, will move to guess_id +1 -->
<!-- if not answered, will show question -->

<% guess = @guess_array[session[:counter]] %>
<% until guess.success == false %>
  <% session[:counter] += 1 %>
<% end %>
<% guess = @guess_array[session[:counter]] %>
<form id="card_display" action="/round/<%= @round.id %>/guess" method="post">
  <%= guess.card.question %>
  <input type="text" name="answer" placeholder="Enter your guess...">
  <input type="submit" value="Check My Guess">
</form>
