<!-- THIS SHOW IS FOR AN INDIVIDUAL QUESTION -->
"Whats ur number?"
<!-- This page will check guess_id to see if it is already successful. -->
<!-- if already answered, will move to guess_id +1 -->
<!-- if not answered, will show question -->

<% @round = Round.find_by(id: params[:round_id]) %>
<!-- REMOVE LINE 7 before merging!!!!! -->
<form id="card_display" action="/round/<%= @round.id %>/guess" method="post">
  <p> CARD QUESTION </p>
  <input type="text" name="answer" value="Enter your guess...">
<!--   ####REMOVE BEFORE COMMIT############
 -->  <input type="submit" value="Submit answer">
<!--   #########REMOVE BEFORE COMMIT###########
 --></form>
