<div class="sub-section text-center">
  <h2>On the Profile Page...</h2>
  <p>Sample text here.</p>

  <h3>Flashcard Stats for Jane Sample<%#= @user.username %></h3>

  <table class="table table-striped table-bordered table-hover text-center sub-section">
    <tr>
      <th>Topic</th>
      <th>Date</th>
      <th>Cards in Deck</th>
      <th>First Guess Correct</th>
      <th>Total Guesses</th>
      <th>Details</th>
    </tr>
    <tr>
      <td>Rocket Scientists<%#= @round.name %></td>
      <td>September 26, 2015<%#= @round.updated_at %></td>
      <td>37<%#= @round.card_count %></td>
      <td>15<%#= @round.correct_count %></td>
      <td>87<%#= @round.total_guesses %></td>
      <td>View<%#= @round.??/// should be link to round show page. %></td>
    </tr>

    <!-- ###### REMOVE BELOW--FOR TESTING ONLY ###### -->
    <tr>
      <td>Otter Facts</td>
      <td>October 4, 2015</td>
      <td>37</td>
      <td>15</td>
      <td>87</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Otter Facts</td>
      <td>November 1, 2016</td>
      <td>37</td>
      <td>20</td>
      <td>44</td>
      <td>View</td>
    </tr>
  </table>

</div>
