<h1>Create an account</h1>
<div class="container">
<form method="post" action="/create">
   <label>First Name:</label>
   <input id="first-name-input" name="user[first_name]" type="text">
 <br>
   <label for="last-name-input" class="block mar-b-1">Last Name:</label>
   <input id="last-name-input" name="user[last_name]" type="text">
 <br>
   <label for="email-input" class="block mar-b-1">Email:</label>
   <input id="email-input" name="user[email]" type="text">
 <br>
   <label for="password-input" class="block mar-b-1">Password:</label>
   <input id="password-input" name="user[password]" type="password">

   <input type="submit" value="Create" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
 </form>
</div>
