<div class="sub-section text-center sub-section">
  <h1>STATS PAGE</h1>

  <h2>World Capitals<%#= @round.name %></h2>

  <h3>You've completed a round of <%#= @round.name %><em>World Capitals</em>.  You answered <%#= @round.correct_count %><em>35</em> / <%#= @round.card_count %><em>195</em> cards correctly on the first try.  You submitted <%#= @round.total_guesses %><em>426</em> total guesses before each card was answered correctly.</h3>

</div>
