<div class="sub-section text-center">
  <h2>On the Home Page...</h2>
  <h3>Flashcards</h3>

  <h3><%#= @deck.name %></h3>


  <table class="table table-bordered table-hover text-center sub-section-table">
  <tr>
    <th>ID</th>
    <th>Flashcard Decks</th>
    <th>Status</th>
  </tr>

  <% @decks.select do |deck| %>
    <% if deck.id <= 50 %>

    <td>ID<%= deck.id %></td>


    <td>  <a href="/card_display/deck/<%=deck.id %>"><%=deck.name%></a> </td>
    </form>
    <td><%#= deck.status %><span class="glyphicon glyphicon-play-circle"></span></td>
  </tr>
  <% end %>
  <% end %>
</table>





</div>
