<br>
  <div class="sub-section text-center">
  <h2>On the Card Display Page...</h2>

  <div class="container">


    <h3><%= @deck.name %></h3>

   <h4><%=@cards.first.question%></h4>


    <form class="form-inline text-center sub-section-form" action="/card_display/deck/<%=@deck.id %>" method="post">

      <div class="form-group">
        <input class="w-med shadow" name="card[answer]" type="text" value="" placeholder="Enter your guess here." />
      </div>

      <div class="form-group">
        <input name="commit" type="submit" value="Submit" class="btn btn-primary">
      </div>
        <%= @response %>

    </form>
  </div>

</div>



