<!-- need to access deck title in some way. -->


<!-- print card question for each card in the deck  -->
<h2><%= @card.question %></h2>
<!-- #form with space to answer and two buttons.  give up button and a submit button.. both will take @card.id for params purposes
#if give up, @card.id + 1 = card.id && we will add guess to wrong guess array
... if submit and correct we will add @card.id + 1 = card.id && add one to total first correct array
if submit and incorrect, we will add guess to wrong guess array and card.id stays the same. -->
<form method="post" action="/card/deck_id">

</form>

<!-- at /card/deck_id/card_id
p card.question(deckid, cardid)


 -->



