<h1>Choose a deck!</h1>
<main role="main">
  <ul class="entries-list no-bullets no-padding">
    <% @decks.each do |deck| %>
    <li class="sparkley">
      <a href="/card/<%= deck.id %>"><%= deck.title %></a>
    </li>
    <% end %>

  </ul>
</main>

