<h1>Welcome!</h1>
<% if @error %>
  <% @error.each do |m| %>
  <p style="color: #fef200"><%= m %></p>
<% end %>
<% end %>
  <p>Register:</p>
  <form id="register" action="/register" method="post">
    Name: <br>
   <input type="text" name="user[name]">
    <br><br>Email:<br>
    <input type="text" name="user[email]">
    <br><br>Password:<br>
    <input type="password" name="user[password]">
    <br><br>
    <!-- <input style="color: blue" type="submit" value="Register"> -->
</form>
 <!-- using a button to submit -->
<button style = "color: #504BA5" type="submit" form="register" value="Register" class = "sparkley">Register</button>
