<h1>You've have completed the Lisa Frank club round of <i><u><%= @stat_round.deck.title %></i></u> </h1>
<ul>
  <li>You answered <i><u><%= @guess[0].total_first_correct %></i></u> out of <i><u><%= @stat_round.deck.cards.count %></i></u>  cards correctly on the first try.</li>
  <li>You submitted <i><u><%= @guess[0].total_guesses %></i></u>  total guesses before each card was answered correctly</li>
<ul>
